
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


/* Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

/* Slide-in from Bottom Animation */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-from-bottom-12 {
  animation: slideInFromBottom 1s ease forwards;
}

/* Headline Font */
.font-headline {
  font-family: 'Poppins', sans-serif;
}
