@import "tailwindcss";
@tailwind utilities;

/* .perspective-1000 {
  perspective: 1000px;
}
.hover\:transform-3d:hover {
  transform: translateZ(0px);
} */
  :root {
    --bg-color: #ffffff;
    --bg-main: #ffffff; 
    --bg-main1:#7cbaff;
    --bg-main2:#999999;
    --bg-main3: #00308F;
    --bg-main4: #ffffff;
     --bg-main5: #ffffff;
     --bg-main6 : #ffffff;
     --bg-main7: #00308F;
    --text-color: #000000;
    --text-color1: #575757;
    --text-color2:#000000;
    --text-color3:#00308F;
    --text-color4:#ffffff;
    --nav-bg: #f0f0f0;
    --link-color: #0000ff;
    --bg-gradient: linear-gradient(to bottom, #d0f0fd, #a6d8f0);
  }

  .dark {
    --bg-color: black;
    --bg-main: black; 
    --bg-main1: black;
    --bg-main2: black;
    --bg-main3: #4299e1;
    --bg-main4: #121212;
    --bg-main5: #1a1a1a;
    --bg-main6: #111111;
     --bg-main7: #ffffff;
    --text-color: #ffffff;
    --text-color1: #ffffff;
    --text-color2:#3674b5;
    --text-color3:#4299e1;
    --text-color4:#3674b5;
    --nav-bg: #1a1a1a;
    --link-color: #66ccff;
    --bg-gradient: black;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.thin-border {
    border-width: 0.5px;
    border-color: #ebe5e5;
}
/* Prevent horizontal scrollbar */
html, body {
  overflow-x: hidden;
  
}
/* globals.css */
.rw-widget-container {
  z-index: 9999 !important;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}
html {
  scroll-behavior: smooth;
}

.light-gradient-animated {
  animation: gradientBG 20s ease infinite;
  background: linear-gradient(
    270deg,
    #000000 10%,
    #1e293b 25%,
    #3b82f6 50%,
    #60a5fa 75%,
    #93c5fd 90%
  );
  background-size: 300% 300%;
} 

/* Dark gradient with animation */
.dark-gradient-animated {
  animation: gradientBG 20s ease infinite;
  background: linear-gradient(270deg, #000000, #000000, #339cff, #000000, #000000);
  background-size: 300% 300%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}







